<p>game works!</p>

<div *ngIf="!isGameStarted">
    <div class="invitation" *ngIf="isInvitationRequested && invitation">
        Waiting your opponent to respond
    </div>
    <div class="invitation request" *ngIf="!invitation">
        Start new game
        <mat-form-field class="field" >
            <mat-label>Enter your opponent's email</mat-label>
            <!-- <mat-error>Field is requred</mat-error> -->
            <input  [(ngModel)]="opponentEmail" placeholder="Email" required matInput>
        </mat-form-field>
        <button (click)="onInvite()" mat-raised-button >Invite </button>
    </div>
    <div class="invitation confirmation" *ngIf="invitation && !isInvitationRequested">
        <span>{{invitation.user1Email}} invited you to the game</span>
        <button mat-stroked-button (click)="onConfirmInvitation()">Start game</button>
    </div>
</div>


<div *ngIf="isGameStarted" >
    <div *ngIf="!outcome" class="turn-label"
         [ngClass]="{'my-turn' : isCurrentUserTurn,
         'opponent-turn': !isCurrentUserTurn, 'in-running': !outcome }">
        {{isCurrentUserTurn ? 'My turn': 'Opponent turn'}}
    </div>
    <div *ngIf="outcome" class="turn-label outcome"
        [ngClass]="true && getOutcomeFromEnum(outcome)"
    >
        {{getOutcomeFromEnum(outcome)}}
    </div>

    <div class="game-field">
        <div *ngFor="let item of field; let i = index" 
            (click)="onCheckMark(item, i)"
            class="cell"
            [ngClass]="{'my-turn' : isCurrentUserTurn,
            'opponent-turn': !isCurrentUserTurn,
            'in-running': !outcome,
            'win-cell': outcome && outcome.indexes?.indexOf(i) !== -1 && getOutcomeFromEnum(outcome) === 'win',
            'lose-cell': outcome && outcome.indexes?.indexOf(i) !== -1 && getOutcomeFromEnum(outcome) === 'lose'
        }"
             >
            <div class="mark">
                <span *ngIf="item.mark">
                    {{item.mark == mark.X ? 'X' : '0'}}
                </span>
            </div>
        </div>
    </div>
</div>

